body{
    width: 100%;
    margin: 1rem;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1rem;
}
.slidein{

    animation: 3s linear 1s infinite alternate slidein;
}

.jumbotron-fluid{
    height:100%;
    width: 100%;
  animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: both ;
};


.polling_message {
  color: rgb(255,255,255);
  float: left;
  margin-right: 2%;
}

.view_port {
  background-color: rgb(0, 0, 0);
  height: 25px;
  width: 100%;
  overflow: hidden;
}

.cylon_eye{
  background-color: #0c0c0c;
  background-image: linear-gradient(to right,
      rgba(252, 44, 44, 0.955) 25%,
      rgba(255, 45, 146, 0.976) 50%,
      rgba(252, 66, 14, 0.9) 75%);
  color: rgb(255,255,255);
  height: 100%;
  width: 20%;
 -webkit-animation: 4s linear 0s infinite alternate move_eye;
          animation: 4s linear 0s infinite alternate move_eye;
}



@-webkit-keyframes move_eye { from { margin-left: -20%; } to { margin-left: 110%; }  }
        @keyframes move_eye { from { margin-left: -20%; } to { margin-left: 110%; }  }


@keyframes hero-zoom {
    from{
        transform: scale(0.4);
    }
    to{
        transform: scale(0.8);
    }
}      

@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

p {
  animation-duration: 7s;
  animation-name: rotate  ;
  animation-iteration-count:1;
    animation-delay:8s;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
